<div class='w-full max-w-xs bg-white rounded-3xl shadow overflow-hidden mt-12 mb-12'>
  <div class='max-w-xs'>
    <div class='h-[236px]' style='background-image:url(?);'>
     </div>
    <div class='p-4 sm:p-6'>
      <p class='font-bold text-gray-700 text-[22px] leading-7 mb-1'>Movie title</p>
      <p class='text-[#7C7C80] font-[15px] mt-6'>Movie info</p>
    </div>
  </div>
</div>