<div class='w-full max-w-xs bg-white rounded-3xl shadow overflow-hidden mt-6 mb-6 mx-8 p-1'>
  <p class='text-[#7C7C80] font-[15px] ml-2'><%= "Results were fetched from #{@fetched_from}" %></p>
</div>